﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if context.seo %}
		<meta name="description" content="{{context.seo.description}}">
		<meta name="keywords" content="{{context.seo.keywords}}">
	{% endif %}
	{% block title_section %}<title>Culture Guardians</title>{% endblock %}
	{% include "header_includes.html" %}
</head>
<body>
	{% include "headerbar.html" %}
	<section class="uk-container uk-width-1-1 mainSection">
		{% block content %}{% endblock %}
	</section>
	{% include "footer.html" %}
</body>
<script type="text/javascript">
	var CGConfig = {
		cartoMapUrl: "{{url_for('apiHtmlGetCartoMap')}}",
		convertToGeospatialUrl: "{{url_for('apiJsonGetGeospatialJson')}}"
	}
</script>
<script type="text/javascript" src="{{url_for('static', filename='js/cgframework.js')}}"></script>
{% include "post_includes.html" %}
{% block bottom_scripts %}{% endblock %}
</html>