<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/uikit.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/fixes.css')}}">
<!-- End Stylesheets -->

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/uikit.min.js')}}"></script>
<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>